@using Entities;
@model List<Product>

<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Kategori</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.ÜrünAdı</td>
                <td>@product.Miktar</td>
                <td>
                    <select disabled>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    </select>
                </td>
            </tr>
        }
    </table>
    <a href="/Product/addproduct" class="btn btn-primary">ekle</a>
</body>
</html>
